

<app-menu></app-menu>
<router-outlet></router-outlet>

<!-- <div class="text-layout"><h1>{{nombre | titlecase }}</h1></div>
<button pButton (click)="mostrarNombre()"
 icon="pi pi-bell"
 iconPos="right"
 label="Cambiar Nombre"
 ></button>
 <p-card header="Carta" >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore distinctio aliquid nemo praesentium. Mollitia aspernatur maxime earum itaque, minima sapiente nam natus cupiditate, expedita inventore culpa, consectetur incidunt. Nemo, officiis?
</p-card>
 -->
